
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,50OTH;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100..900&display=swap');


.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hero{
  backdrop-filter: blur(18px);

background: rgba(255,255,255,.25);

border:1px solid rgba(255,255,255,.3);
}
.hero-bg{
    background: linear-gradient(
        135deg,
        #FFF8F2,
        #FFE7D6,
        #FFF3EB
    );
}

.dark .hero-bg{
    background: linear-gradient(
        135deg,
        #0F172A,
        #111827,
        #1E293B
    );
}

html{
scroll-behavior:smooth;
transition:.35s;
}

body{
transition:
background .35s,
color .35s;
}

html.light{

background:#FFFDF8;
color:#1F2937;

}

html.dark{

background:#0F172A;
color:white;

}